*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
archive/
presentations/nma_jobtalk/nma_jobtalk v?.qmd
presentations/nma_jobtalk/nma_jobtalk *pm.qmd
presentations/nma_jobtalk/learn_sql_notes.qmd
presentations/nma_jobtalk/gt_workshop.qmd
presentations/nma_jobtalk/_archive/nma_jobtalk 430pm.qmd
presentations/nma_jobtalk/_archive/nma_jobtalk 530pm.qmd
presentations/nma_jobtalk/_archive/nma_jobtalk v1.qmd
presentations/nma_jobtalk/_archive/nma_jobtalk v2.qmd
presentations/nma_jobtalk/NMA_metafor_allnodes_ic.R
presentations/nma_jobtalk/_archive/learn_sql_notes.qmd
presentations/nma_jobtalk/_archive/gt_workshop.qmd
