*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
archive/
presentations/nma_jobtalk/nma_jobtalk v?.qmd
presentations/nma_jobtalk/nma_jobtalk *pm.qmd
presentations/nma_jobtalk/learn_sql_notes.qmd
presentations/nma_jobtalk/gt_workshop.qmd
